doctype html
html
  head
    title Object API
    meta(charset="utf-8")
    link(rel="stylesheet", href="/css/font.css")
    link(rel="stylesheet", href="/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet", href="/css/style.css")
  body
    block content

    script(type="text/javascript", src="/jquery/dist/jquery.min.js")
    script(type="text/javascript", src="/bootstrap/dist/js/bootstrap.min.js")
    block scripts